
header {
    padding: 10px;
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    font-size: 24px;
    color: #F9FAF8;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.logo img {
    width: 50px;
    height: auto;
}

.nav {
    margin-left: auto;
    display: flex;
    gap: 40px;
}

.nav a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.block1 {
    background-color: #1F2937;
}

.heroContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: aqua;
}